.root {
  border: 1px solid #c3c3c3;
  padding: 1em;
  width: 30vw;
  margin: 5px;
}

.title {
  border-bottom: 1px solid #c3c3c3;
}

.content {
  padding: 1em;
}

.actions {
  border-top: 1px solid #c3c3c3;
}
